body{
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    font-family: Arial;
}
a{
    color: inherit;
    text-decoration: none;
}
.header-area{
    background-color: rgb(211, 208, 208);
    color: white;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}
.right-section{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    width: 15%;
    margin-right: 100px;
}
.hamburger-icon{
    height: 30px;
}
.rainydays-logo{
    height: 70px;
    margin-left: 50%;
}
.account-icon{
    height: 28px;
    margin-left: 50%;
    margin-right: 20px;
}
.search-icon{
    height: 30px;
}
.shoppingcart-icon{
    height: 40px;
}
.footer{
    margin-top: auto;
    margin-top: 40px;
    background-color: rgb(211, 208, 208);
    height: 120px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left-footer{
    display: flex;
    flex-shrink: 0;
    margin-left: 15%;
    height: 90px;
    flex-basis: 0;
    column-gap: 20px;
}
.right-footer{
    display: flex;
    flex-shrink: 0;
    margin-right: 15%;
}
.payment-icons{
    margin-left: 5%;
    display: flex;
    align-items: center;
}
.click-text-footer{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
}
.text-left-footer{
    margin-bottom: 0;
}
.visa-icon{
    height: 60px;
    margin-right: 10%;
}
.mastercard-icon{
    height: 38px;
    margin-right: 10%;
}
.klarna-icon{
    height: 40px;
    margin-right: 5%;
}
.instagram-icon{
    height: 40px;
    cursor: pointer;
    margin-left: 5%;
}
.facebook-icon{
    height: 40px;
    margin-left: 10%;
    cursor: pointer;
}
.twitter-icon{
    height: 40px;
    margin-left: 10%;
    cursor: pointer;
}