body{
    margin: 0;
    font-family: Arial;
}
.header-area{
    background-color: rgb(211, 208, 208);
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;

    margin-left: 300px;
}
.right-section{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    width: 300px;
    margin-right: 300px;
}

.hamburger-icon{
    height: 30px;
}

.rainydays-logo{
    height: 70px;
    margin-left: 70px;
}
.account-icon{
    height: 30px;
    margin-left: 100px;
    margin-right: 20px;
}
.search-icon{
    height: 30px;
}
.shoppingcart-icon{
    height: 40px;
}
.first-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.image-space{
    align-items: center;
}
.home-page-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-buttons{
    border: none;

    color: rgb(0, 0, 0);
    background-color: rgb(219, 205, 205);
    margin-left: 10px;
    margin-right: 10px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 18px;
    font-weight: 400;

    cursor: pointer;
}
.div-buttons{
    position: absolute;
    margin-bottom: 80px;
}
.text-above-buttons{
    position: absolute;
    margin-bottom: 160px;
}
.page-h1{
    margin-top: 30px;
    text-align: center;
}
.jacket-box-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}
.jacket-box{
    display: inline-block;
    text-align: center;
}
.womenjacket-2{
    height: 200px;
}
.jacket-info{
    display: inline-block;
}
.see-more-div{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.onsale-box-image{
    margin-top: 30px;
}
.onsale-image{
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: 20% 77%;
}
.text-onsale-box{
    display: flex;
    justify-content: center;
}
.footer{
    margin-top: 40px;
    background-color: rgb(211, 208, 208);
    height: 90px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left-footer{
    display: flex;
    margin-left: 100px;
    height: 90px;
}
.right-footer{
    display: flex;
    margin-right: 100px;
}
.visa-icon{
    height: 60px;
    margin-right: 10px;
}
.mastercard-icon{
    height: 38px;
    margin-right: 10px;
}
.klarna-icon{
    height: 40px;
}
.instagram-icon{
    height: 40px;
}
.facebook-icon{
    height: 40px;
    margin-left: 20px;
}
.twitter-icon{
    height: 40px;
    margin-left: 20px;
}
.payment-icons{
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.click-text-footer{
    margin-top: 10px;
    margin-bottom: 0;
    
    font-weight: 600;
}
.text-left-footer{
    margin-top: 10px;
    margin-bottom: 0;
}