.mensection-image{
    height: 250px;
    width: 80%;
    object-fit: cover;
    object-position: middle;
}
.mensection-box{
    display: flex;
    justify-content: center;
}
.mensection-text-box{
    margin-top: 70px;
    position: absolute;
    left: 15%;

}