.women-jacket{
    height: 150px;
}
.purchase-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,200px));
}
section{
    margin-left: 10%;
    margin-right: 10%;
}
.grid-layout{
    display: grid;
    grid-template-columns: 20px 400px;
}
.checkbox1:checked{
    background-color: black;
}
.text-grid{
    display: flex;
    flex-wrap: wrap;
}
.CVV-Exp-container{
    display: flex;
    column-gap: 20px;
    margin-bottom: 10px;
}
